<!DOCTYPE html>
<html>
  <head>
    <title>My Inspiration Space</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>My Inspiration Space</h1>
    <p>Welcome to my 'Euphoria' of words!</p>
    <%= link_to "Home", root_path %>
    <%= link_to "Search", search_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Login", articles_path %>

    <%= yield %>
  </body>
</html>
